{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World</h1>

    <p>GAME RULES</p>

    <p>YOUR FAVORITE MEME NOT HERE? SEND ME AN EMAIL: nanocoinio@gmail.com</p>

    <table border="1">
        <tr>
            <td>ID</td>
            <td>NAME</td>
            <td>IMAGE</td>
            <td>OWNER ADDRESS</td>
            <td>OWNER SINCE</td>
            <td>CURRENT PRICE</td>
            <td>CURRENT PRICE FORMATTED</td>
            <td>TARGET PRICE</td>
            <td>TARGET PRICE FORMATTED</td>
            <td>TARGET ADDRESS</td>
            <td>TARGET TIME</td>
            <td>CAN BE CLAIMED</td>
        </tr>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.ownerAddress }}</td>

                {% if entity.ownedSince is defined and entity.ownedSince %}
                    <td>{{ entity.ownedSinceFormatted }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                <td>{{ entity.currentPrice }}</td>
                <td>{{ entity.currentPriceFormatted }}</td>
                <td>{{ entity.targetPrice }}</td>
                <td>{{ entity.targetPriceFormatted }}</td>

                {% if entity.canBeClaimed %}
                    {% if entity.hasPending %}
                        <td>Pending...</td>
                    {% else %}
                        <td>{{ entity.targetAddress }}</td>
                    {% endif %}
                {% else %}
                    <td>Cannot be claimed. Wait until {{ entity.targetTimeFormatted }}.</td>
                {% endif %}

                <td>{{ entity.targetTimeFormatted }}</td>
                <td>{{ entity.canBeClaimed ? 'YES' : 'NO' }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
