{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello World</h1>

    <p>GAME RULES</p>

    <table border="1">
        <tr>
            <td>NAME</td>
            <td>IMAGE</td>
            <td>OWNER ADDRESS</td>
            <td>OWNER SINCE</td>
            <td>CURRENT PRICE</td>
            <td>TARGET PRICE</td>
        </tr>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.image }}</td>
                <td>{{ entity.ownerAddress }}</td>

                {% if entity.ownerSince is defined and entity.ownerSince %}
                    <td>{{ entity.ownerSince | date('Y-m-d H:i:s O') }}</td>
                {% else %}
                    <td>&nbsp;</td>
                {% endif %}

                <td>{{ entity.currentPrice }}</td>
                <td>{{ entity.targetPrice }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
